body{
	margin:0px;
	padding:0px;
	background-color:#CCCCCC;
}

ul{
background-color:#444;
text-align:center;
margin:0px;
padding:0px;
list-style:none;
width:100%;

}

li{
font-size:24px;
line-height:40px;	
height:40px;	
padding:20px;
display:inline-block;
}

a{
	text-decoration:none;
	color:#ffffff;
}

footer{
	background-color:#444;
	text-align:center;
	text-color:white;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:30px;
	margin:-100;
   
}
.footer-paragraph{
	color:white !important;
	margin:0px;
	padding:0px;
}